
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
         <meta charset="utf-8">
        <meta name="keywords" content="YTT在线教育,培训网,培训机构,培训课程,岗位职责,网络商学院,培训视频，史永翔利润管理" />
        <meta name="description" content="YTT是一个面向全国所有老板，高管，企业经理人，财务总监，行政等，职场人士的在线学习及服务平台，培训课程免费体验，
        内容覆盖了人力资源，生产管理，营销管理，电子商务，市场营销，财务管理，职业素养，综合管理等多个领域，为用户提供一个最便捷、成本最低、服务最好的经营管理学习平台" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>YTT 管理报表系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- CSS -->
        <link rel="stylesheet" href="__PUBLIC__/css/mobile/style.css">

    </head>
    <body>
        <div class="all-container" style="width: 100%; background-color: #0075c1; height: 712px;">
            <div class="head-top-logo">
                <img src="__PUBLIC__/image/wap/logo.png"/>	
            </div>
            <form action="" method="post">
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密码">
                <button type="submit" style="">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
               
                
            </div>
            <div class="footer">
	<p>版权所有©2014苏州顶峰企业管理顾问 苏ICP备13063721号-1
	<p>服务热线：400-000-8884<script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd63cbe06c979e529e15b268cdc234f11' type='text/javascript'%3E%3C/script%3E"));
    </script></p>
</div>
        </div>
    </body>
</html>
