<include file="Public:header"/>

<div class="all-container" style="display:block;">
    <div class="head-top-logo">
        <a class="return" href="{:U('Index/index1')}"></a>
        <a href="/m" class="logo">YTT财务分析系统</a>
        <a class="member" id="open_right"></a>		
    </div>

    <div class="pp-container">
        <div class="form-in md-01 mt15">
            <div class="head-01">
                <h3>杜邦分析法</h3>
            </div>
            <div class="bd-table bd-01 clearfix">
                <ul class="bb-box clearfix">
                    <li class="li-01"><a href="{:U('Index/gudong')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/01.png" /></em><em class="em-02">股东回报率</em></a></li>
                    <li class="li-02"><a href="{:U('Index/yinli')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/02.png" /></em><em class="em-02">直接盈利能力</em></a></li>
                    <li class="li-05"><a href="{:U('Index/ziben')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/03.png" /></em><em class="em-02">资本运用效率</em></a></li>
                    <li class="li-06"><a href="{:U('Index/caiwu')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/04.png" /></em><em class="em-02">财务杠杆效应</em></a></li>
                    <li class="li-01"><a href="{:U('Index/dubang')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/01.png" /></em><em class="em-02">杜邦分析法</em></a></li>
                </ul>
            </div>
        </div>

        <div class="form-in md-01 mt15">
            <div class="head-02">
                <h3>五大决策</h3>
            </div>
            <div class="bd-table bd-01 clearfix">
                <ul class="bb-box clearfix">
                    <li class="li-05"><a href="{:U('Index/sell')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/05.png" /></em><em class="em-02">销量</em></a></li>
                    <li class="li-06"><a href="{:U('Index/price')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/06.png" /></em><em class="em-02">售价</em></a></li>

                    <li class="li-01"><a href="{:U('Index/chengben')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/07.png" /></em><em class="em-02">变动成本</em></a></li>
                    <li class="li-02"><a href="{:U('Index/change')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/08.png" /></em><em class="em-02">变动费用</em></a></li>
                    <li class="li-03"><a href="{:U('Index/constant')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/09.png" /></em><em class="em-02">固定费用</em></a></li>
                    <li class="li-04"><a href="{:U('Index/five')}"><em class="em-01"><img src="__PUBLIC__/image/wap-all/10.png" /></em><em class="em-02">五大决策</em></a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="bottom-table-zw"></div>
</div>

<include file="Public:right"/>
<include file="Public:footer"/>
