<!--右侧悬浮电话-->
<a style="display:block" href="#" class="return-top"></a>
<a style="display:block" href="tel:4000008884" class="phone-top"></a>

<div id="module_right" class="info-container" style="right: 0px; width: 100%; float: right; height: 700px; display: none;">
    <div class="head-top-logo">
        <a class="l-list-a" href="#"></a>
        <span class="logo">YTT史永翔商学院</span>
        <a id="close_right" class="member"></a>
    </div>
    <div class="pp-container">
        <div class="right-personal-center">
            <div class="avatar">
                <img src="__PUBLIC__/image/wap/default_avatar.gif">
            </div>
            <div class="avatar">
                <a class="name" href="#">{$Think.session.current_account.username}</a>
            </div>
            <dl>
                <dt style=" border:none;">
                <a href="{:U('Public/logout')}">退出</a>
                </dt>
            </dl>
        </div>
    </div>
</div>     