<link href="__PUBLIC__/css/help.css" rel="sheetstyle">
<div class="Item hr">
    <!--<span class="fr">现有管理员<b>{$rows_count}</b>位</span>-->
    <div class="current">软件操作指导</div>
</div>

<div class="help_box">
    <ul>
        <li>
            <p>用户权限说明：</p>
            <p style="margin-left: 20px;">老板-拥有最高权限，可以使用所有功能<br>财务总监-拥有管理权限，可以使用管理报表，数据报表两大功能，审核数据报表</p>
        </li>
        <li>
            <p >一、基础报表</p>
            <p style="margin-left: 20px;">
                1. 基础报表中包含：<br>
资产负债表，标准损益表，现金流量表：<br>
这三个表中包含四个按钮，分别是【查询】【导入】，代表两种功能<br>
查询：根据您选择的日期，查询那个日期的数据，如果没有某日期的数据，将查不到！ <br>
导入：首先选择一个excel表格，点击导入按钮，选择要导入的Excel文件，就可以了！<br>
2. 参数录入表：<br>
有三个按钮，分别是【查询】，【新建】代表两种功能;<br>
新建：创建新的无数据表格，供您进行数据的填写<br>
查询：同上，需要选择日期<br>
修改：双击表格，就可修改数据。(注：查询出数据后才可点击)<br>
            </p>
        </li>
        <li>
            <p>二、管理报表</p>
            <p style="margin-left: 20px;">
                1. 管理报表中包含三张表：<br>
管理资产负债表，管理损益表，管理现金流量表（注：三张管理表的功能相同） <br>
以基础报表中的数据，进行管理，选择查询日期(必须是基础报表中已有数据的日期)，点击查询按钮查询出数据。<br>
审核：只有老板才能审核，审核所输入的数据，选择审核的数据的日期，成功审核！（注：审核成功后的数据财务经理不得修改)<br>
查询历史：此按钮前有两个需要选择日期，选择起始日期，和结束日期，查询期间月份的数据(注：一次最多可查询六个月的数据) <br>
导出：是导出当前是所查询的数据以Excel生成。（注：如果未查询数据，则导出的Excel是空的）
            </p>
        </li>
        <li>
            <p>二、管理报表</p>
            <p style="margin-left: 20px;">
                1. 管理报表中包含三张表：<br>
管理资产负债表，管理损益表，管理现金流量表（注：三张管理表的功能相同） <br>
以基础报表中的数据，进行管理，选择查询日期(必须是基础报表中已有数据的日期)，点击查询按钮查询出数据。<br>
审核：只有老板才能审核，审核所输入的数据，选择审核的数据的日期，成功审核！（注：审核成功后的数据财务经理不得修改)<br>
查询历史：此按钮前有两个需要选择日期，选择起始日期，和结束日期，查询期间月份的数据(注：一次最多可查询六个月的数据) <br>
导出：是导出当前是所查询的数据以Excel生成。（注：如果未查询数据，则导出的Excel是空的）
            </p>
        </li>
        <li>
            <p>【提醒】</p>
            <p style="margin-left: 20px;">
                一个主账号只能创建一个子账号，如需新增子账号，请联系YTT客服。<br>
                咨询热线：400 000 8884
            </p>
        </li>
    </ul>

</div>
<style type="text/css">  
.help_box{height: auto;display: block;}
.help_box ul{height: auto;display: block;}
.help_box ul li{height:auto;display: block;}
.help_box ul li p{line-height: 35px;font-family: '微软雅黑';font-size: 15px;}
</style> 



